/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

header.header-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header.header-nav-wrapper .fa-bars {
  display: none;
}

header.header-nav-wrapper p,
header.header-nav-wrapper a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7d8797;
  text-align: center;
}

header.header-nav-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header.header-nav-wrapper nav a {
  margin: 0 20px;
  text-decoration: none;
}

header.header-nav-wrapper nav a:hover {
  color: #112340;
  cursor: pointer;
  border-bottom: 2px solid #4b5bef;
  padding-bottom: 5px;
  padding-top: 6px;
}

/* header.header-nav-wrapper nav a:nth-child(3) {
  color: #112340;
} */

header.header-nav-wrapper nav .btn-mobile {
  display: none;
}

/* hero */
.section-hero .btn-contact {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.75rem;
  background-color: #efefef;
  color: #696767;
  transition: 0.3s;
}

.section-hero .btn-contact:hover {
  background-color: #e1e3ff;
  color: #2f3ad3;
  transition: 0.3s;
}

.section-hero p {
  margin: 0rem;
}

.section-hero .text-blue-1 {
  font-weight: bold;
  color: #4b4b4b;
  font-size: 20px;
}

.section-hero .text-gray-1 {
  font-weight: normal;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #4b4b4b;
}

.section-hero #menu-toggle:checked + #menu,
.section-hero #menu-toggle:checked + #menu + #menu {
  display: block;
}

.section-hero .btn-get {
  font: 500 0.875rem/1.25rem Roboto, sans-serif;
  padding: 1rem 2.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #3743e3;
  transition: 0.3s;
}

.section-hero .btn-get:hover {
  background-color: #2f3ad3;
  transition: 0.3s;
}
.section-skill-card .btn-get {
  font: 500 0.875rem/1.25rem Roboto, sans-serif;
  padding: 1rem 2.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #3743e3;
  transition: 0.3s;
}

.section-skill-card .btn-get:hover {
  background-color: #2f3ad3;
  transition: 0.3s;
}

.section-hero .left-column {
  margin-bottom: 0.75rem;
  z-index: 40;
}

.section-hero .title-font {
  font-weight: bold;
  color: #4b4b4b;
  line-height: 33px;
  /* font: 700 2.25rem/2.5rem Roboto, sans-serif;
  padding-top: 1rem; */
}

.section-hero .caption-font {
  font: 500 1rem/2.3rem Roboto, sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-hero .hero-img {
  position: relative;
  width: 100%;
}

.section-hero .user-pict {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.section-hero .user-pict .left-margin {
  margin-left: -0.1rem;
}

/* section skill */
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}
.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}
.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}
.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}
.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}
.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}
.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue:hover .icon path {
  fill: #8892bf;
}

.services .iconbox-orange:hover .icon path {
  fill: #ff2d20;
}

.services .iconbox-pink:hover .icon path {
  fill: #7952b3;
}

.services .iconbox-aqua:hover .icon path {
  fill: #4479a1;
}
.services .iconbox-green:hover .icon path {
  fill: #94c73d;
}
.services .iconbox-orange:hover .icon path {
  fill: #e05320;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 5px;
  position: relative;
  color: #45505b;
}
.section-title p {
  font: 500 1rem/2.3rem roboto, sans-serif;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-bottom: 2rem;
}
.portfolio-btn-get {
  font: 500 0.875rem/1.25rem Roboto, sans-serif;
  padding: 1rem 2.5rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #3743e3;
  transition: 0.3s;
}

.portfolio-btn-get:hover {
  background-color: #2f3ad3;
  transition: 0.3s;
}

/* footer */

.footer-item .list-space {
  margin-bottom: 1.25rem;
}

.footer-item .footer-text-title {
  font: 600 1.5rem Poppins, sans-serif;
  margin-bottom: 1.5rem;
}

.footer-item hr.hr {
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-item .border-color {
  color: #c7c7c7;
}

.footer-item .footer-link {
  color: #4b4b4b;
}

.footer-item .footer-link:hover {
  color: #333333;
}

.footer-item .footer-info-space {
  padding-top: 3rem;
}

.footer-item .list-footer {
  padding: 5rem 1rem 3rem 1rem;
}

.footer-item .info-footer {
  padding: 0 1rem 3rem;
}

/* portfolio */
.portfolio-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-skill-card .frame {
  position: relative;
}

.section-skill-card .frame::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: border-box;
  border: 2px solid rgb(160, 160, 160);
  /* border-radius: 20px; */
  transform: translate(31px, 24px);
  transition: transform 250ms ease;
}

.section-skill-card .frame:hover::before {
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translate(0px, 0px);
}

.section-skill-card .btn-read {
  margin-bottom: 100px;
  color: #4b4b4b;
  font-weight: 500;
  padding: 1.25rem 1.25rem 1.25rem 0rem;
  letter-spacing: 0.05em;
}

.section-skill-card .btn-read:hover {
  color: #2c2b2b;
  transition: 0.2s;
}

.section-skill-card .btn-read:hover svg path {
  fill: #2c2b2b;
  transition: 0.2s;
}

.section-skill-card .text-gray-1 {
  color: #adadad;
}

.section-skill-card .main {
  padding: 2.5rem 2rem 2rem;
}

.section-skill-card .left-col,
.section-skill-card .right-col {
  width: 100%;
}

.section-skill-card .left-col {
  margin-top: 6rem;
}

.section-skill-card .caption-top {
  font: normal 1.25rem/1.75rem "Roboto", sans-serif;
  margin-bottom: 1rem;
}

.section-skill-card .title-font {
  font: bold 30px "Roboto", sans-serif;
  margin-bottom: 1.5rem;
}

.section-skill-card .caption-font {
  font-weight: bold;
  color: #4b4b4b;
  line-height: 33px;
  letter-spacing: 0.04em;
  margin-bottom: 2.25rem;
}

/* responsive */
@media (max-width: 768px) {
  header.header-nav-wrapper nav {
    position: absolute;
    left: 0;
    -webkit-transform: translateY(55%);
    transform: translateY(55%);
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    z-index: 99;
    padding: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  header.header-nav-wrapper nav a {
    margin: 20px 0;
    display: none;
  }

  header.header-nav-wrapper nav.active {
    height: unset;
    padding: 50px 20px;
    border-bottom: 1px solid #112340;
  }

  header.header-nav-wrapper nav.active a,
  header.header-nav-wrapper nav.active .btn-mobile {
    display: block;
  }

  header.header-nav-wrapper {
    position: relative;
  }

  header.header-nav-wrapper img {
    z-index: 999;
  }

  header.header-nav-wrapper .btn {
    display: none;
  }

  header.header-nav-wrapper .fa-bars {
    display: block;
    z-index: 999;
  }

  header.header-nav-wrapper .fa-bars:hover {
    cursor: pointer;
  }
}
/* sm */
@media (min-width: 576px) {
  .section-hero .title-font {
    font: 700 3rem/1.25 Roboto, sans-serif;
  }
}

/* md */
@media (min-width: 768px) {
  .section-hero .main {
    padding: 1.75rem 4rem 5rem;
  }

  .section-hero .left-column {
    margin-bottom: 3rem;
  }

  .section-hero .btn-get {
    margin-bottom: 0rem;
  }
  .section-skill-card .btn-get {
    margin-bottom: 0rem;
  }
}
/* lg */
@media (min-width: 992px) {
  .section-hero .main {
    padding: 1.75rem 7rem 5rem;
  }

  .section-hero .left-column {
    margin-bottom: 0rem;
  }

  .section-hero .title-font {
    font: 700 3.75rem/1.25 Roboto, sans-serif;
  }

  .section-hero .hero-img {
    position: absolute;
    right: 0;
    width: auto;
  }
}
/* xl */
@media (min-width: 1200px) {
  .section-hero .main {
    padding: 1.75rem 9rem 5rem;
  }
}

@media (min-width: 576px) {
  .footer-item .list-footer {
    padding: 5rem 2rem 3rem 2rem;
  }

  .footer-item .info-footer {
    padding: 0 2rem 3rem;
  }
}

@media (min-width: 768px) {
  .footer-item .list-footer {
    padding: 5rem 4rem 6rem 4rem;
  }

  .footer-item .info-footer {
    padding: 0 4rem 3rem;
  }
}

@media (min-width: 992px) {
  .footer-item .list-footer {
    padding: 5rem 6rem 6rem 6rem;
  }

  .footer-item .info-footer {
    padding: 0 6rem 3rem;
  }
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .section-skill-card .main {
    padding: 2.5rem 4rem 2rem;
  }
}

@media (min-width: 992px) {
  .section-skill-card .main {
    padding: 6rem;
  }

  .section-skill-card .left-col,
  .section-skill-card .right-col {
    width: 50%;
  }

  .section-skill-card .left-col {
    margin-top: 0rem;
  }
}

@media (min-width: 1200px) {
  .section-skill-card .main {
    padding: 4rem;
  }
}

@media (max-width: 1024px) {
  .section-skill-card .left-col {
    order: 2;
  }

  .section-skill-card .right-col {
    order: 1;
  }

  .section-skill-card .frame::before {
    width: 100%;
    height: 100%;
    transform: translate(10px, 10px);
    transition: transform 250ms ease;
  }
}
